.App {
  text-align: center;
  display: flex;
  border: 1px solid black;
  background-color: #f7f8fc;
}

.errorService {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 10rem;
  border: 1px solid black;
  padding: 2rem;
}
.errorService p {
  color: red;
}
.searchbar {
  width: 300px;
  padding: 15px;
  height: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

.logo {
  font-size: larger;
  padding: 1rem;
  font-weight: bold;
}

.profile {
  flex-grow: 1;
}

.user-selection {
  display: flex;
  align-items: center;
}
.user-selection div {
  text-decoration: underline;
}
.user-selection ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  gap: 1rem;
}

.user-selection ul li {
  cursor: pointer;
  color: #ab230c;
  background-color: white;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 1px solid grey;
}
.user-selection ul li.activeUser {
  background-color: #ab230c;
  color: white;
  border: 1px solid black;
}
header {
  background-color: #f7f8fc;
  min-height: 80px;
  align-items: center;
  padding: 0px 20px;
  justify-content: space-between;
  /* text-align: center; */
  display: flex;
}

.container {
  display: flex;
  flex-grow: 7;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  font-size: 3rem;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-Chat {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
