.CalendarApp {
  text-align: center;
  font-size: 2rem;
  min-width: 200px;
  padding: 1rem;
  background-color: rgb(101, 185, 53);
}
.activeEvent{
  background-color: cornflowerblue;
  color: black;
}